* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bakgrundbild img {
  width: 100%;
  padding: 5rem;
  border-radius: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

header {
  height: 5rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 5px 5px 10px 0px black;
  text-align: center;
  align-items: center;
}

header h1 {
  grid-column: 2;
  color: black;
}

header a {
  text-align: center;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
}
header a:hover {
  background-color: antiquewhite;
}
footer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  background-color: black;
  padding: 1rem;
}
footer p {
  grid-column: 2;
  color: white;
}
footer a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}
footer a:hover {
  background-color: #333;
}
.deltitel {
  text-align: center;
  margin: 1rem;
}
.product-container {
  display: flex;
  gap: 1rem;
}

.product-card {
  padding: 0.5rem;
  flex-grow: 1;
  flex-basis: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product-card img {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #333;
  width: 100%;
  filter: hue-rotate(0deg);
  transition: 300ms ease-in-out;
}

.product-card:hover img {
  filter: hue-rotate(360deg);
}

.product-card a {
  position: absolute;
  bottom: 0.5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #333;
  text-align: center;
  padding: 0.5rem;
  color: #333;
  text-decoration: none;
}
.product-card1 p {
  position: absolute;
  bottom: 0.5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #333;
  text-align: center;
  padding: 0.5rem;
  color: #333;
  text-decoration: none;
}

.product-card1 {
  padding: 0.5rem;
  flex-grow: 1;
  flex-basis: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product-card1 img {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #333;
  width: 100%;
}
.product-card1 {
  filter: blur(1rem);
}

.product-card1:hover {
  filter: blur(0rem);
}
